Library/PackageCache/com.unity.burst@1.8.7/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.7 filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.7/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.7/.Runtime/libburst-llvm-15.so filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.sysroot.linux-x86_64@2.0.6/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.7/.Runtime/burst-llvm-15.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.7/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.6/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
Assets/Mega filter=lfs diff=lfs merge=lfs -text
Bot filter=lfs diff=lfs merge=lfs -text
Area/Music/Mega filter=lfs diff=lfs merge=lfs -text
Bay filter=lfs diff=lfs merge=lfs -text
Music/Mega filter=lfs diff=lfs merge=lfs -text
Bay.wav filter=lfs diff=lfs merge=lfs -text
Mega filter=lfs diff=lfs merge=lfs -text
Area/Music/Pipes filter=lfs diff=lfs merge=lfs -text
Forest filter=lfs diff=lfs merge=lfs -text
Music/pipes-forest.wav filter=lfs diff=lfs merge=lfs -text
Under filter=lfs diff=lfs merge=lfs -text
Music/pipes filter=lfs diff=lfs merge=lfs -text
under.wav filter=lfs diff=lfs merge=lfs -text
Assets/Samples/Cinemachine/2.9.7/Cinemachine filter=lfs diff=lfs merge=lfs -text
Example filter=lfs diff=lfs merge=lfs -text
Scene/Shared/Models/UnityCharacter/Animations/Idle.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Settings/Lit2DSceneTemplate.scenetemplate filter=lfs diff=lfs merge=lfs -text
Pro/Resources/Fonts filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Mega[[:space:]]Bot[[:space:]]Areas/Music/Mega[[:space:]]Bot[[:space:]]Bay[[:space:]]Music/Mega[[:space:]]Bot[[:space:]]Bay.wav filter=lfs diff=lfs merge=lfs -text
Assets/Mega[[:space:]]Bot[[:space:]]Areas/Music/Pipes[[:space:]]Forest[[:space:]]Music/pipes-forest.wav filter=lfs diff=lfs merge=lfs -text
Assets/Mega[[:space:]]Bot[[:space:]]Areas/Music/Pipes[[:space:]]Under[[:space:]]Music/pipes[[:space:]]under.wav filter=lfs diff=lfs merge=lfs -text
Assets/Samples/Cinemachine/2.9.7/Cinemachine[[:space:]]Example[[:space:]]Scenes/Shared/Models/UnityCharacter/Animations/Idle.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Settings/Lit2DSceneTemplate.scenetemplate filter=lfs diff=lfs merge=lfs -text
Assets/SunnyLand[[:space:]]Artwork/Music[[:space:]]tracks/Maniac.ogg filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/unity-excel-importer-master/Assets/ExcelImporter/Editor/NPOI/Net20/NPOI.OpenXmlFormats.dll filter=lfs diff=lfs merge=lfs -text
Assets/unity-excel-importer-master/Assets/ExcelImporter/Editor/NPOI/Net20/NPOI.XML filter=lfs diff=lfs merge=lfs -text
